
MacSerials.csv

appwarranty.plist

serials.csv

warrantyFail.txt

warrantyoutput.csv

warrantyLoop.sh

warrantyrefresh.sh

bulkwarrantyoutput.csv

serials2.csv

warranty.csv

warrantySysMan.sh

depreciated/warranty.sh
